---
// @ts-nocheck
const { what, who, imgSrc, brief, url } = Astro.props;
---

<a class="project" href=`${url}`>
	<div class="about">
		<h3 class="what">{what}</h3>
		<h4 class="who">{who}</h4>
		<div class="brief">{brief}</div>
	</div>
	<img class="slide" src={imgSrc} alt={brief} />
	<!-- <div class="slide" style={`background-image: url(${imgSrc});`}></div> -->
</a>
<style>
	.project {
		display: flex;
	}
	.what {
		font-size: 26px;
		line-height: 150%;
		margin: 0 0 4px 0;
	}
	.who {
		font-size: 14px;
		line-height: 150%;
		margin: 0 0 8px 0;
		font-style: italic;
		color: #666;
	}
	.brief {
		font-size: 18px;
	}
	.about {
		flex: 1 1 auto;
		padding: 0 var(--space) 0 0;
	}
	.slide {
		flex: 1 0 auto;
		/* background-size: cover;
		background-repeat: no-repeat; */
		max-width: 400px;
		width: 100%;
		height: auto;
		display: block;
		border-radius: 0.5rem;
		object-fit: cover;
		box-shadow:
			inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
			/* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
			/* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
			0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
			0 3.5px 6px hsla(0, 0%, 0%, 0.09);
	}
	@media (max-width: 768px) {
		.project {
			flex-direction: column;
		}
		.slide {
			max-width: 100%;
		}
		.about {
			padding: 0 0 var(--space) 0;
		}
	}
</style>
